# React
react/node_modules/


# Node general
node_modules/

# Python
venv/
.venv/
__pycache__/

# Jupyter
.ipynb_checkpoints/
factify_xlmr_model/
factify_english_model/

# Model files
*.pt
*.pth
*.pkl
*.h5
*.vs

# Datasets
*.csv

# Build folders
dist/
build/

# .NET
bin/
obj/

# Python / ML
*.ipynb
*.pt
*.bin
*.dll
*.exe
*.pdb

# Logs
*.log